<!DOCTYPE html>
<html lang="en">
  <head>
    <title>!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h3 class="title-joke">
      The enormous sandwitch JSO-
    </h3>
      <h1 class="bold">JSON Time Parser Micro Service</h1>
    <h2>By Robyn Veitch for freeCodeCamp</h2>  
    
      <p>Ussage:</p>
    
    <code>https://enormous-sandwich.glitch.me/March 2 1997   </code> <a href="https://enormous-sandwich.glitch.me/March 2 1997">Use this \></a>
    <br />
    <code>https://enormous-sandwich.glitch.me/857260800      </code> <a href="https://enormous-sandwich.glitch.me/857260800 ">Use this \></a>
    
    <p>Output:</p>
    
    <p class="example-out" >
      {
        "unix": 857260800,
        "natural": "March 2, 1997"
      }
    </p>
    
    <script src="/client.js"></script>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>

  </body>
</html>
